// Specific CSS for your home-page
#home-card {

  .references {


    .property-details {
      list-style: none;
      margin-top: .7rem;
      display: grid;
      align-items: center;
    }

    .property-img {
      border-radius: 5px;
      padding: .5rem;
      margin: 8px;
    }

  }
}
/* Styling the search container */
.banner {
  .search-container {
    width: 900px;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    margin: 7px auto;
  }
}

/* Styling the search input */
.search-bar {
  height: 17px;
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 25px;
  background: transparent;
}

.search {
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: 50px;
}

.ts-control {
  height: 57px !important;
  border: none !important;
  margin-top: -4px !important;
  margin-left: -6px !important;
  border-radius: 18px !important;
}

/* Styling the search button */
.search-icon {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  color: #333;
}

/* Optional: Hover effect for the button */
.search-icon:hover {
  color: #007bff; /* Change to a primary color */
}

/* Ensure proper alignment */
.search-container input::placeholder {
  color: #aaa;
}

.search-btn {
  font-size: 19px;
  width: 154px;
  height: 49px;
  margin-left: 17px;
  margin-top: -3px;

}

.site-summary-section {
  width: 75%;
  margin: 46px auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1em;
  align-items: center;
}

.summary-card {
  perspective: 1500px;
  position: relative;
  height: 200px;

  &__side {
    height: 200px;
    width: 320px;
    transition: all 1.0s ease;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 10px 15px rgba($color: #000000, $alpha: .15);

    &-front {
      background-color: $primary-blue;

      h4 {
        height: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }

    &-back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $secondary-color, $primary-blue);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $secondary-color, $primary-blue);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $secondary-color, $primary-blue);
      }

      p {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }

  &:hover &__side-front{
    transform: rotateY(180deg);
  }

  &:hover &__side-back{
    transform: rotateY(0);
  }
}
