.icon-infos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(172, 167, 167);
  border-bottom: 1px solid rgb(172, 167, 167);
  margin: 10px;
}

.show-top{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.property-show-infos {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

.property-show-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bottom-card {
  display: flex;
  border: 1px solid rgb(172, 167, 167);
  padding: 16px;
  margin-left: px;
  margin-right: 8px;
  margin-bottom: 8px;
  .title {
    flex-grow: 1;
  }
}

.analytics-dashboard {
  display: flex;
  width: 100vw;
  .analytics-title {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-size: 16px;
  }
  .show-analytics-card {
    .show-analytics-card-content {
      padding: 16px;
    };
    .location-show-analytics-card-content {
      padding: 16px;
      display: flex;
    };

    border-radius: 8px;
    font-size: 12px;
    width: 300px;
    margin: 8px;
    background-color: white;
  }
}

.intro-section {
  height: 55px;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}
