.icon-infos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(172, 167, 167);
  border-bottom: 1px solid rgb(172, 167, 167);
  margin: 10px 60px 10px 0;
}

.search-result {
  height: 25px;
  width: 126px;
  font-size: 15px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin-top: 15px;
  margin-left: 70px;
  background-color: white;
  border: 1px solid $secondary-color;
  border-radius: 7px;

  &:hover {
    background-color: $secondary-color;
    color: white;
    cursor: pointer;
  }

  a {
    color: black;
    padding-left: 14px;
  }
}

.show-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.property-show-infos {
  width: 95vw;
  margin-bottom: 16px;
}

.property-show-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bottom-card {
  display: flex;
  border: 1px solid rgb(172, 167, 167);
  padding: 16px;
  margin-left: px;
  margin-right: 8px;
  margin-bottom: 8px;
  .title {
    flex-grow: 1;
  }
}

.analytics-dashboard {
  display: flex;
  width: 92%;
  margin: 0 20px;

  hr{
    margin: 20px;
  }

  .analytics-title {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-size: 16px;
  }

  .show-analytics-left-div {
    width: 33%;
    height: 100%;
  }

  .show-analytics-right-div{
    width: 67%;

    .show-map-container{
      margin: 8px;
      border-radius: 16px;
    }

    .show-right-analytics-container{
      display: flex;
      // grid-template-columns: repeat(2, 1fr); // 3 columns per row
      // gap: 20px; // Spacing between cards
      justify-content: space-between;
      // flex: 1;
      // width: 96%;
    }
  }

  .show-analytics-card {

    border-radius: 8px;
    font-size: 12px;
    margin: 8px;
    background-color: white;

    .show-analytics-card-content {
      padding: 16px;
    };

    .location-show-analytics-card-content {
      padding: 16px;
      display: flex;
    };

  }
}

.intro-section {
  height: 55px;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

.slider-imagery {
  width: 800px !important;
  height: 400px !important;
  object-fit: cover;
  overflow: hidden;
}

.slider {
  width: 800px !important;
}

.inner-carousel {
  width: 900px !important;
}
