<h1>Saved Properties index page</h1>
<% @bookmarks.each do |bookmark| %>
<%= bookmark.property.address %>
<% end %>

<% @bookmarks.each do |bookmark| %>
<%= bookmark.property.address %>
<% end %>


<div class="bookmarks-index">
  <% @bookmarks.each do |bookmark| %>
      <%= render "bookmark_card", bookmark: bookmark %>
  <% end %>
</div>
