
<div class="property-index-container">
  <div class="main-content">
    <div class="card-section">
      <div class="bookmarks-index-grid">
        <% @bookmarks.each do |bookmark| %>
          <%= render "bookmark_card", bookmark: bookmark %>
        <% end %>
      </div>
    </div>
  </div>
</div>
