.property-index-container {
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 8px;

  .search-display {
    margin-left: 35px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 60vw;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 10px;
      };
    };

    .search-display-text {
      font-size: 15px;
      text-align: left;
      width: 700px;
      border-radius: 15px;
      color: black;
    }

    .search-display-link{
      background-color: $primary-blue;
      border-radius: 8px;
      padding: 6px;
      width: 10vw;
      margin-left: 32px;
      a, i {
        color: white;
      }
    }

  }

  .main-content {
    width: 100%;
    display: flex;
    flex: 1;

    .categories {
      width: 25%;
      height: 80vh;
      background-color: white;
      border-radius: 15px;
      padding: 8px;
      position: sticky;
      top: 7vh;

      .category-title {
        text-align: center;
      }

      .hr-properties {
        border-top:2px solid rgb(172, 167, 167);
        margin:3px 10px;
      }

      .instruction {
        padding-left: 9px;
        margin-top: 2px;
        color: black;
      }

      .filter-columns {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
      }

      .min-price {
        width: 100px;
        display: flex;
        border-radius: 10px;
        position: relative;
      }

      .max-price {
        width: 100px;
        display: flex;
        border-radius: 10px;
        margin-left: 75px;
        position: relative;
      }

      .price-input{
        width: 150px;
        margin-left: 11px;
        border-radius: 10px;
        border: 1px solid grey;
        text-align: center;
      }
    }

    .card-section {
      flex: 1;
      height: 700px;
      margin-left: 35px;
      overflow-y: scroll;
    }
  }
}
