.property-index-container {
  width: 100%;
  margin: 20px;

  .search-display {
    display: flex;
    align-items: center;
    text-align: center;
    width: 25%;
    justify-content: space-between;

    .search-display-text {
      font-size: 15px;
      font-weight: 600;
      border-radius: 15px;
      color: black;
      background-color: white;
    }

    .search-display-map-link{
      margin-inline: 40px;
      font-size: 29px;

      .location-marker-index {
        background-color: black;
        color: white;
        border-radius: 50%;
      }
    }

  }

  .main-content {
    width: 100%;
    display: flex;
    flex: 1;

    .categories {
      width: 25%;
      height: 263px;
      background-color: white;
      border-radius: 15px;

      .category-title {
        text-align: center;
      }

      .hr-properties {
        border-top:2px solid rgb(172, 167, 167);
        margin:3px 10px;
      }

      .instruction {
        padding-left: 9px;
        margin-top: 2px;
        color: black;
      }

      .filter-cat-container {
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;

      }

      .min-price {
        width: 100px;
        display: flex;
        border-radius: 10px;
        position: relative;
      }

      .max-price {
        width: 100px;
        display: flex;
        border-radius: 10px;
        margin-left: 75px;
        position: relative;
      }

      .price-input{
        width: 150px;
        margin-left: 11px;
        border-radius: 10px;
        border: 1px solid grey;
        text-align: center;
      }

      .fa-sterling-sign {
        position: absolute;
        top: 4px;
        left: 14px;
        margin-left: 10px;
        border: 1px solid black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
      }

      .vl-left-price {
        position: absolute;
        border-left: 2px solid #aca7a7;
        height: 16px;
        top: 6px;
        right: -26px;
        color: black;
      }

      .fa-caret-down {
        position: absolute;
        top: 6px;
        right: -49px;
      }
    }

    .card-section {
      flex: 1;
      height: 200px;
      margin-left: 38px;
      border-radius: 15px;
    }

  }

}
