<div class="categories">
  <div class="category-title">
    <span><i class="fa-solid fa-chart-simple"></i></span>
    <span>Your filters</span>
  </div>
  <hr class="hr-properties">
  <p class="instruction">Select filters...</p>
  <div class="filter-cat-container">
    <div class="min-price">
      <input class="price-input" type="text" placeholder="Min"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="max-price">
      <input class="price-input" type="text" placeholder="Max"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
  </div>
  <div class="filter-cat-container">
    <div class="min-price">
      <input class="price-input" type="text" placeholder="Min"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="max-price">
      <input class="price-input" type="text" placeholder="Max"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
  </div>
  <div class="filter-cat-container">
    <div class="min-price">
      <input class="price-input" type="text" placeholder="Min"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="max-price">
      <input class="price-input" type="text" placeholder="Max"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
  </div>
  <div class="filter-cat-container">
    <div class="min-price">
      <input class="price-input" type="text" placeholder="Min"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="max-price">
      <input class="price-input" type="text" placeholder="Max"></span>
      <i class="fa-solid fa-sterling-sign"></i>
      <div class="vl-left-price"></div>
      <i class="fa-solid fa-caret-down"></i>
    </div>
  </div>
</div>
