.button-none {
  all: unset;
}

.button-edit {
  background-color: #32414c;
  color: white;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  margin-top: 10px;
  cursor: grab;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: medium;

  &:hover{
    background-color: #e6e6fa; /* Light lavender */
    color: #32414c;
  }
}

.button-contact {
  background-color: #9ebc6a;
  color: white;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  margin-top: 10px;
  cursor: grab;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;

  &:hover{
    background-color: #e6e6fa; /* Light lavender */
    color: #32414c;
  }
}
