.card-container {
  width: 90%;
  border-radius: 5px;
  padding: 0;
  display: flex;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  p {
    font-size: 12px;
  };
  h2 {
    font-size: 16px;
  }
}

.property-img {
  width: 23vw;
  position: relative;
}

.property-details-container {
  width: 50vw;
  background-color: white;
  display: flex;
}

.carousel {
  position: relative;
}

.icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.fa-camera {
  font-size: 11px;
  background-color: rgba(19, 18, 18, 0.7);
  position: absolute;
  top: 6px;
  left: 6px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.fa-heart {
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  color: black;
}

.fa-paper-plane {
  font-size: 20px;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
}

.property-details{
  width: 60%;
  padding-left: 12px;
  position: relative;
  a {
  color: black;
  }
}

.property-analytics {
  width: 40%;
  margin-left: 40px;
  margin-top: 8px;
}

.fa-bell {
  position: absolute;
  right: -19px;
  top: 10px;
}

.content {
  margin-bottom: 0;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 6em;
}
.street-address {
  font-size: 20px;
  font-weight: 700;
  padding-top: 6px;
}

.hr {
  border-top: 1px solid rgb(172, 167, 167);
}

.property-specification {
  margin-top: 3px;
  width: 100%;
  display: flex;
  i {
    font-size: 20px;
  };
}

.hr-bottom {
  margin-bottom: 7px;
  border-top: 1px solid rgb(172, 167, 167);
}

.price {
  padding-top: 3px;
  padding-left: 10px;
}

.vl {
  border-left: 1px solid rgb(172, 167, 167);
  height: 30px;
  margin-left: 35px;
}

.vl-left {
  border-left: 1px solid rgb(172, 167, 167);
  height: 30px;
  margin-left: 25px;
}
.amenities-icon {
  margin-left: 5px;
  i {
    font-size: 16px;
  }
}
.fa-bed {
  font-size: 18px;
  padding: 6px;
  margin-left: 6px;
  padding-right: 4px;
}

.fa-bath {
  font-size: 18px;
  padding-left: 8px;
}

.size {
  font-size: 20px;
  font-weight: 300;
  padding-top: 3px;
  padding-left: 20px;
}


.highlights-grid {
  display: grid;
  .highlight-button {
    display: flex;
    font-size: 8px;
    border-radius: 25px;

    p {
      font-size: 12px;
      border: none;
      border-radius: 25px;
      background-color: $secondary-color;
      color: white;
      padding-left: 27px;
      padding-right: 28px;
      margin-bottom: 2px;
    }
  }

}


button {
  font-size: 12px;
  border: none;
  border-radius: 25px;
  background-color: $secondary-color;
  color: white;
  padding-left: 27px;
  padding-right: 28px;
  margin-bottom: 2px;
}

.x {
  margin-left: 25px;
}

.vl-border {
  border-left: 1px solid rgb(172, 167, 167);
  height: 80%;
  margin-left: 35px;
  margin-top: 32px;
}

.analytics-header {
  display: flex;
  margin-top: 3px;
  margin-left: 30%;
}

.fa-chart-simple {
  font-size: 18px;
  padding: 6px;
}

span h3 {
  font-size: 16px;
  font-weight: 300;
  padding-left: 4px;
}

.analytics-card {
  height: 40px;
  margin: 4px 8px 15px 8px;
  padding: 12px 12px;
  background-color: white;
  border-radius: 7px;
  display: flex;
}

.fa-location-dot {
  color: black;
}

.location-text{
  color: black;
  margin-left: 8px;
  span {
    font-size: 16px;
  }
}

.vl-border-analytics {
  border-left: 1px solid #000;
  height: 80%;
  margin-left: 6px;
  margin-top: 1px;
}

.analytics-text {
  color: white;
  background-color: #82ce10;
  width: 120px;
  height: 23px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 5px 0;
  text-align: center;
  font-size: 15px;
  margin-left: 15px;
}

.property-analytics {
  position: relative;
}

.card-heart {
  font-size: 17px;
  position: absolute;
  top: -13px;
  right: 200px;
  background-color: #bab6b6 !important;
  color: white;
}
