.form-text-area {
  height: 200px;
  width: 450px;
  margin: 8px 0;
  padding-left: 4px;
  color: black;
}

.btn-contact {
  position: absolute;
  top: 80px;
  right: 27px;
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: white;
  width: 145px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  padding-top: 10px;
  align-self: center;
}

.btn-contact-form {
  position: absolute;
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: white;
  width: 145px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  padding-top: 10px;
}

.modal-body {
  height: 290px;
}
