.form-text-area {
  height: 200px;
  width: 450px;
  margin: 8px 0;
  padding-left: 4px;
  color: black;
}

.btn-contact {
  position: absolute;
  top: 64px;
  right: 27px;
  background-color: #82ce10 !important;
  border-color: #7dc511 !important;
  color: white;
  width: 145px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  padding-top: 10px;
}

.btn-contact-form {
  position: absolute;
  background-color: #82ce10 !important;
  border-color: #7dc511 !important;
  color: white;
  width: 145px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  padding-top: 10px;
}

.modal-body {
  height: 290px;
}
