
.filters{
  margin-top: 16px;
  .filter-dropdown {
    display: flex;
    margin-bottom: 8px;
    width: 300px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 1px 2px rgba(96, 96, 96, 0.2);
    border-radius: 16px;
    height: 24px;
    select {
      width: 70%;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      background-color: rgba(197, 197, 197, 0.1);
      border: none;
      box-shadow: 0 1px 2px rgba(96, 96, 96, 0.2);
      font-size: 12px;
      margin-left: 8px;
    };
    i {
      align-self: center;
      margin-left: 4px;
      margin-right: 4px;
      font-size: 16px;
    };
    .filter-columns {
      display: flex;
      justify-content: space-between;
      width: 300px;
    }
    label{
      font-size: 12px
    }
  }
}

input {
  border: none;
  font-size: 12px;
  padding: 8px;
  width: 150px;
  border-radius: 16px;
  background-color: $primary-blue;
  color: white;
  display: flex;
  align-self: center;
}


.priorities {
  margin-top: 24px;
  .priorty-dropdown {
    display: flex;
    margin-bottom: 8px;
    width: 300px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 1px 2px rgba(96, 96, 96, 0.2);
    border-radius: 16px;
    height: 24px;
    select {
      width: 60%;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      background-color: rgba(197, 197, 197, 0.1);
      border: none;
      box-shadow: 0 1px 2px rgba(96, 96, 96, 0.2);
      font-size: 12px;
      margin-left: 8px;
    };
    label {
      font-size: 12px;
      width: 40%;
      text-align: center;
    }
  }
}
